@media screen and (max-width: 600px) {





    #primary--nav {
        color: red;
        /* background-color: yellow; */
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;

    }

    .nav--logo {
        display: none;
    }

    #ss {
        display: none;
    }

    .button-box {
        display: none;
    }


    .nav--list {
        display: flex;
        justify-content: space-around;
        /* border:3px solid grey; */
        width: 100vw;

    }

    .nav--list li {
        /* background-color: aquamarine; */
        justify-content: space-between;
    }

    .nav--list li a {
        text-decoration: none;
        padding: 0.8rem;
        /* border: 1px solid yellow; */
        font-size: 0.8rem;
        /* color: white; */
    }

    .icones {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        flex-direction: row;
        /* border: 1px solid red; */
        width: 100%;
        height: 0.7rem;
        justify-content: center;
        align-items: center;

    }

    .icone {

        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 100%;
    }

    .icones a {
        /* display: flex; */
        /* place-items: center; */
        text-decoration: none;
        color: #fff;
        font-size: 0.7rem;
        border: 1.6px solid #fff;
        /* border-radius: 50%; */
        padding: 0.6rem;
        text-align: center;
        /* background-color: #eba504; */
    }















    .primary--box {
        display: block;
        width: 100%;
        /* border: 6px solid yellow; */
        padding: 0rem 0rem;
        overflow: none;
        max-width: 600px;
        text-align: center;
    }

    .main--content {
        /* border: 2px solid red; */
        display: block;
        width: 100%;
        padding: 0rem 0rem;
        text-align: center;

    }

    .main--content h1 {
        font-family: 'Merriweather', serif;
        text-align: center;
        font-size: 2rem;
        width: 100%;
        max-width: 600px;
        margin-bottom: 1.5rem;
        padding-top: 2rem;
    }

    .main--content p {
        width: 100%;
        padding: 0rem 1rem;
        line-height: 1.3rem;
        max-width: 600px;
        font-size: 1rem;
        font-family: 'Merriweather', serif;

        margin-bottom: 1rem;
        text-align: center;
    }


    #element {
        font-size: 2rem;
        /* color: rgb(148, 31, 211); */
        color: limegreen;
        font-weight: bolder;
        font-style: normal;
        display: block;
        /* border: 2px solid red; */
    }

    .main--content--btn {
        display: flex;
        justify-content: center;
        /* border: 2px solid red; */

        padding: 0.70rem 0rem;


    }

    .main--content button {
        padding: 0.5rem 0.5rem;
        font-weight: bolder;
        border-radius: 6px;
        border: 2px solid #fff;
        font-size: 0.70rem;
        cursor: pointer;
        margin: 0.3em;

    }

    .profile--pic {
        /* border: 2px solid rgb(87, 208, 60); */
        width: 100%;
        max-width: 600px;
        /* background-color: rgb(166, 165, 165); */
        color: black;
        padding: 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: none;
        border-radius: 1rem;

    }

    .profile--pic img {
        max-width: 100%;
        border-radius: 5px;
        /* aspect-ratio: 2/3; */
        width: 250px;

        height: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    #skills {
        /* background-color: rgb(38, 46, 56); */
        margin-top: 1rem;
        padding-bottom: 0rem;
        max-width: 600px;
        display: grid;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #skills h2 {
        /* border: 2px solid black; */
        font-family: 'Alumni Sans Collegiate One', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: #eecece;
        margin-bottom: 2rem;
        overflow: none;
    }


    .skill-items {
        /* border:2px solid bisque; */
        overflow: none;
        padding: 0.4em;
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 6px;

    }

    .skill-items h3 {
        color: #eecece;
        font-family: 'Alumni Sans Collegiate One', sans-serif;
        font-size: 0.50rem;
        margin-bottom: 0rem;
    }


    .js {
        /* border:2px solid greenyellow; */
        outline: 0.3px solid red;
        border-bottom: 2px solid greenyellow;

        max-width: 600px;
        width: 100%;
        padding: 0rem 0rem;
        margin: 0px;

    }


    #projects {
        /* border:2px solid red; */
        height: auto;
        width: 100%;
        display: flex;

    }

    #pp {
        color: #eecece;
        font-family: 'Alumni Sans Collegiate One', sans-serif;
        font-size: 1rem;
        margin-top: 0.50rem;
    }

    .project-box {
        /* border:5px solid rgb(27, 167, 57); */
        padding: 0.4rem;
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px;
        grid-gap: 6px;
    }

    .amazone {
        /* background-color: #6d2828; */
        padding: 0rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0rem;
        padding: 0rem 0rem;
        border-radius: 6px;
    }

    .amazone img {
        max-width: 100%;
        width: 100%;
        height: 50%;
        border-radius: 5px;
        margin-bottom: 0rem;
        border-bottom: 8px solid greenyellow;

    }

    .amazone p,
    h3 {
        /* width: 90%; */
        margin: 0 auto;
        text-align: center;
        line-height: 1.5rem;
    }



    .work {
        /* border:2px solid red; */
        width: 100%;
        /* height: 40vh; */
        overflow: none;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding: 0.4rem;
    }



    .work h2 {
        margin: 0.5rem 0.5rem;
        /* outline: 0.3px solid red; */
        border-radius: 4px;
        padding: 0px 10px;
        font-size: 1rem;
        color: #eecece;
        font-family: 'Alumni Sans Collegiate One', sans-serif;
        padding: 0.4rem;
    }

    .work-box {
        /* border:2px solid rgb(76, 27, 167); */
        /* background-color: #eecece; */
        /* width: 100%; */
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .chqbook,
    .true-balance {
        margin: 5em;
        /* background-color: #6d2828; */
        outline: 0.3px solid red;
        padding: 0rem 0rem;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: none;
        margin: 0.70rem;
        padding: 0rem 0rem;
        border-radius: 6px;
    }

    .chqbook,
    .true-balance img {
        max-width: 600px;
        height: auto;
        width: 100%;
        height: 50%;
        border-radius: 5px;
        margin-bottom: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: white; */
        overflow: hidden;

    }

    .chqbook,
    .true-balance h3,
    p {
        margin: 0 auto;
        text-align: center;
        line-height: 1.5rem;
        padding-bottom: 1rem;

    }


    .footer-box {
        /* border:2px solid blue; */
        /* width: 100%; */
        height: auto;
        background-color: rgb(21, 21, 21);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;

    }

    .about {
        /* border:2px solid rgb(122, 122, 181); */
        /* background-color: antiquewhite; */
        width: 100%;
        display: flex;

        align-items: center;
        padding: 0.70em 0.40em;
        flex-direction: column;

        border-radius: 5px;
        /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(114, 114, 216, 0.1) 0px 16px 56px; */
    }

    .about div {
        /* border:2px solid wheat; */
        display: flex;
        margin: 0 auto;
        padding-bottom: 1rem;

    }

    #contact {
        /* border: 2px solid rgb(122, 122, 181); */
        /* background-color: antiquewhite; */
        width: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        /* padding:2em 1em; */
        flex-direction: column;
        margin: 0 auto;

    }

    .contact div {
        display: flex;
        margin: 0 auto;
        padding-bottom: 1rem;

    }

    .end {
        background-color: rgb(48, 49, 50);
        font-size: 1em;
        padding: 0.70rem;
        display: flex;
        justify-content: space-around;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .end button {

        border-radius: 5px;
        border: transparent;
        /* padding: 0.20rem 1rem; */
    }


















}